<h2>Todo's list</h2>

<div class="row">
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ 'listpage.header.desc' | translate }}</th>
          <th>{{ 'listpage.header.deadline' | translate }}</th>
          <th>{{ 'listpage.header.doer' | translate }}</th>
          <th>{{ 'listpage.header.completed' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos | search:'description':filter.query | filter:'done':filter.isDone">
          <td>{{todo.description}}</td>
          <td>{{todo.deadline | date:'dd.MM.yyyy'}}</td>
          <td>{{todo.owner}}</td>
          <td>{{todo.done}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-3" data-search-todos [filter]="filter"></div>
</div>
