<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div layout:fragment="content" class="container">
    <main class="container" role="main">
        <div class="starter-template">
            <div class="jumbotron">
                <h1 th:text="#{index.page.title}"></h1>
                <form method="post" th:action="@{/}" th:object="${formData}">
                    <div class="form-group">
                        <label for="firstName" th:text="#{index.page.form.firstName}"></label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
                        <p class="alert alert-success" role="alert" th:if="${#fields.hasErrors('firstName')}"
                           th:text="${#strings.listJoin(#fields.errors('familyName'), ', ')}"></p>
                    </div>
                    <button type="submit" class="btn btn-success" th:text="#{index.page.form.button}"></button>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>
