<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <main class="container" role="main">
            <div class="starter-template" sec:authorize="hasRole('ADMIN')">
                <div class="jumbotron">
                    <h1 th:text="#{admin.page.title}"></h1>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" sec:authorize="!hasRole('ADMIN')">
                <span th:text="#{login.message.error}"></span>
            </div>
        </main>
    </div>
</body>
</html>
