<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<main layout:fragment="content" class="container" role="main">
    <div class="jumbotron">
        <h1 th:text="#{index.page.title}"></h1>
    </div>
    <div id="greetings">
        <div class="alert alert-success" role="alert" th:each="greeting: ${greetings}">
            <span th:text="${greeting.message}"></span>
        </div>
    </div>
</main>
</body>
</html>
