<header class="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" th:href="@{/}">
            <span th:text="#{navbar.brand}"></span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a id="home-link" class="nav-link" th:href="@{/}">
                    <span th:text="#{navbar.link.home}"></span>
                </a>
            </li>
            <li class="nav-item">
                <a id="about-link" class="nav-link" th:href="@{/about}">
                    <span th:text="#{navbar.link.about}"></span>
                </a>
            </li>
        </ul>
        <!--<ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a id="logout-link" class="nav-link" th:href="@{/logout}">
                    <span th:text="#{navbar.link.logout}"></span>
                </a>
            </li>
        </ul>-->
    </nav>
</header>
