<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{navbar.brand}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/default.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div layout:fragment="content"></div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <script type="text/javascript" th:src="@{//webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{//webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{//resources/js/default.js}"></script>
</body>
</html>
