<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div layout:fragment="content" class="container">
    <main class="container" role="main">
        <div class="starter-template">
            <div class="jumbotron">
                <h1 th:text="#{index.page.title}"></h1>
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="id-col" scope="col" th:text="#{greeting.table.id}"></th>
                        <th scope="col" th:text="#{greeting.table.message}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="g: ${greetings}">
                        <td th:text="${g.id}"></td>
                        <td th:text="${g.message}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
</html>
